* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Indu;
    src: url(../fonts/AMS\ Indu.ttf) format('truetype');
}

.hindi{
    font-family: Indu;
    font-weight: 600;
}

::-webkit-scrollbar{
    background-color: #f3f2f2;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: url(/images/bg.png);
    border-radius: 5px;
}

.loader_bg{
    background: url(/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999999;
}

.loader{
    border-top: 10px solid #f3f2f2;
    border-radius: 50%;
    width: 480px;
    height: 480px;
    position: absolute;
    top: calc(30vh - 75px);
    left: calc(37vw - 75px);
    animation: spinloader 2s linear infinite;
}

.loader>img{
    height: 480px;
    width: 480px;
    animation: spinlogo 2s linear infinite;
}

@keyframes spinloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinlogo {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media(max-width:767px) {
    .loader,
    .loader>img{
        width: 300px;
        height: 300px;
    }
    .loader{
        top: calc(40vh - 75px);
        left: calc(30vw - 75px);
    }
}

#nav{
    background: url(/images/bg.png);
    opacity: 0.95;
    position: fixed;
    height: 80px;
    width: 100%;
    font-family: 'Montserrat';
    z-index: 9999;
}

.logo{
    color: #f5f5f5;
    font-size: 30px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

nav>ul{
    float: right;
    margin-right: 20px;
}

nav>ul>li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
    transition: all 0.5s ease;
}

nav>ul>li>a,
nav>ul>li>a:visited,
nav>ul>li>a:hover,
nav>ul>li>a:active{
    color: #f5f5f5;
    font-size: 20px;
}

nav>ul>li:hover{
    z-index: 99999;
    transform: scale(1.15);
}

.checkbtn{
    font-size: 30px;
    color: #f5f5f5;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.toTop{
    padding: 10px;
    background: #f5f5f5;
    position: fixed;
    right: 40px;
    bottom: 30px;
    border: 2px solid #303030;
    border-radius: 5px;
    z-index: 999;
}

.toTop>a,
.toTop>a:hover,
.toTop>a:visited,
.toTop>a:active{
    color: #000;
}

@media(max-width: 1325px){
    .logo{
        font-size: 17px;
        padding-left: 20px;
    }

    #nav>ul>li>a{
        font-size: 20px;
    }

    .checkbtn{
        display: block;
    }
    #nav>ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: url(/images/bg.png);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    #nav>ul>li{
        display: block;
    }

    #check:checked~ul{
        left: 0;
    }
    .toTop{
        right: 20px;
    }
}

.landing{
    background: url(/images/bg.png);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}

.center{
    margin: auto;
    text-align: center;
}
.center>img{
    transform: scale(.6);
    position: relative;
    margin-top: -3%;
}

.center>h1{
    color: #f5f5f5;
    font-size: 90px;
    margin-top: -10%;
}
.center>p{
    color: #f5f5f5;
    font-size: 50px;
}

.center>a{
    color: #f5f5f5;
    font-size: 40px;
    margin-top: 3%;
}

@media(max-width:767px){
    .center{
        width: 380px;
    }
    .center>img{
        position: relative;
        transform: scale(0.6);
        margin: 0 -100%;
    }
    .center>h1{
        font-size: 50px;
        margin-top: -30%;
    }
    .center>p{
        font-size: 35px;
    }
    .center>a{
        margin-top: 7%;
        font-size: 30px;
    }
}

#about, 
#idea{
    text-align: center;
    height: 10%;
}

#about>div>div>p,
#idea>div>div>p{
    width: 75%;
    margin: 0 auto;
}

h2{
    font-size: 80px;
    margin-top: 1%;
    padding: 20px 0;
    text-align: center;
    font-weight: 400;
}

/*#about>.content{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column-gap: 50px;
}*/

.content>div>p{
    font-size: 20px;
    line-height: 35px;
}

/*#about>.content>div>img{
    transform: scale(.5) translateY(-50%) translateX(-25%);
    position: relative;
}*/

@media(max-width:757px){
    h2{
        margin-top: 5%;
        padding: 5px;
        font-size: 50px;
    }
}

#domains,
#board{
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.row{
    width: 90%;
    margin: auto;
}

.row2{
    margin: 15px 20%;
}

.single{
    margin: auto 34.7%;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    float: left;
    width: 25%;
    padding: 0 10px;
    margin: 10px 4%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.front, 
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border: 2px solid #303030;
    border-radius: 25px;
}

.front {
    background-color: #f5f5f5;
    color: black;
}

.back {
    padding: 10% 5%;
    height: 350px;
    background: url(/images/bg.png);
    color: #f5f5f5;
    transform: rotateY(180deg);
}

.back>h3{
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card{
    background-color: #000;
    width: 300px;
    height: 350px;
    float: left;
    width: 25%;
    padding: 25px;
    margin: 15px 4%;
    color: #fff;
    border-radius: 25px;
    text-align: left;
    filter: grayscale(100%);
    transition: all 1s ease-in-out;
}

.card>h3{
    font-size: 25px;
    margin-top: 75%;
}

.card>p{
    font-size: 20px;
    font-weight: 800;
}

.card>p>a,
.card>p>a:hover,
.card>p>a:visited,
.card>p>a:active{
    color: #fff;
    font-weight: 800;
}

.card0{
    background: url(/images/maam.png);
    background-color: #303030;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: top;
}

.card1{
    background: url(/images/RAJAT\ TIWARI.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
}

.card2{
    background: url(/images/Sumit.jpg);
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
}

.card3{
    background: url(/images/Anukriti\ Singh.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.card4{
    background: url(/images/Keshav\ Gupta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card5{
    background: url(/images/Shivangi\ Sharma.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card6{
    background: url(/images/Adisha.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card7{
    background: url(/images/aabir.jpg);
    background-size: cover;
    background-position: 40% 30%;
    background-repeat: no-repeat;

}

.card8{
    background: url(/images/Hirwa\ Oza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card9{
    background: url(/images/aditya\ kakkar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card10{
    background: url(/images/Shivya\ Shukla.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.card11{
    background: url(/images/SIMRAN.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card12{
    background: url(/images/AnushiSaxena.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card13{
    background: url(/images/Akhilendra.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card14{
    background: url(/images/Gagan\ Chordia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card:hover{
    filter: grayscale(0%);
    transition: all 1s ease-in-out;
}

.event{
    width: 25%;
    padding: 50px;
    float: left;
    margin: auto;
    margin-left: 4.15%;
    margin-right: 4.15%;
}

#events>p{
    text-align: center;
    padding: 25px;
    font-size: 40px;
}

.event>img{
    width: 200px;
    height: 150px;
    transition: all 0.5s ease;
}

.event>img:hover{
    transform: scale(1.25);
    z-index: 99;
}

@media(max-width:757px){
    #domains, 
    #board,
    #events{
        margin: auto;
    }
    .flip-card,
    .card,
    .event {
        width: 90%;
        display: block;
        margin-bottom: 15px;
    }
    .row2, 
    .single{
        margin: auto;
    }
}

#contact{
    background: url(/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#contact>h3{
    font-size: 70px;
    color: #f5f5f5;
    text-align: center;
}

.contDet,
.follow{
    color: #f5f5f5;
    text-align: center;
}

.contDet>h4{
    font-size: 40px;
    padding-top: 15px;
}

.contDet>a{
    color: #f5f5f5;
    text-decoration: none;
    padding: 25px 10px;
    font-size: 25px;
    font-family: 'Montserrat';
    transition: all 0.5s ease;
}

.contDet>i{
    font-size: 25px;
    padding: 20px 0;
}

.contDet>a:hover{
    text-decoration: underline;
}

.follow>a{
    color: #f5f5f5;
    font-size: 25px;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.follow>a:hover{
    background: #f5f5f5;
    color: #303030;
}

#contact>div>p{
    color: #f5f5f5;
    text-align: center;
    padding: 15px;
}

/*.bg {
    position: relative;
}

.bg img {
    height: 110vh;
    width: 100%;
}

.topnav {
    position: absolute;
    width: 1367px;
    height: 30px;
    left: 150px;
    top: 35px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.topnav div a {
    margin-left: 20px;
    transition: 0.3s;
}

.topnav div a:hover {
    border-bottom: 4px solid #FFFFFF;
    padding-bottom: 8px;
}

.topnav a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
}

.HLA {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 40%;
    background-image: url("/images/HLA.png");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: chhatrapati;
    letter-spacing: 1px;
    width: 100%;
    font-size: 90px;
    text-align: center;
    color: white;
    position: absolute;
    top: 74%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ex {
    height: 100vh;
    width: 100%;
    display: flex;
}

.first,
.second {
    width: 50%;
    height: 100%;
}

.Intro {
    font-family: Manthan;
    position: absolute;
    width: 775px;
    height: 113px;
    left: 332px;
    top: 943px;
}

.Intro h2 {
    font-size: 70px;
    text-align: center;
}

.Text h2 {
    position: absolute;
    width: 775px;
    height: 113px;
    left: 630px;
    top: 963px;
    font-size: 70px;
    text-align: center;
}

.first h4 {
    position: absolute;
    width: 592px;
    height: 500px;
    left: 60px;
    top: 1133px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}

.second {
    background-image: url("/images/about.png");
    position: absolute;
    width: 650px;
    height: 600.52px;
    left: 800px;
    top: 1063.33px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ex2 {
    height: 100vh;
    width: 100%;
    display: flex;
}

.Third,
.fourth {
    width: 50%;
    height: 100%;
}

.Intro_1 {
    font-family: Manthan;
    position: absolute;
    width: 781px;
    height: 113px;
    left: 329px;
    top: 1705px;
}

.Intro_1 h2 {
    font-size: 70px;
    text-align: center;
}

.Text1 h2 {
    font-size: 70px;
    text-align: center;
    position: absolute;
    width: 781px;
    height: 113px;
    left: 630px;
    top: 1730px;
}

.fourth h4 {
    position: absolute;
    width: 566px;
    height: 439px;
    left: 734px;
    top: 1862px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}

.Third {
    background-image: url("/images/idea.png");
    position: absolute;
    width: 400px;
    height: 400px;
    left: 139px;
    top: 1862px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ex3 {
    width: 100%;
    padding: 70px;
    padding-top: 0%;
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
}

.ex3 div {
    height: 400px;
    width: 400px;
    background-color: grey;
    border-radius: 25px;
}

.Intro_2 {
    font-family: Manthan;
    position: absolute;
    width: 652px;
    height: 113px;
    left: 350px;
    top: 2220px;
}

.Intro_2 h2 {
    font-size: 70px;
    text-align: center;
}

.Text2 h2 {
    font-size: 70px;
    text-align: center;
    position: absolute;
    width: 652px;
    height: 113px;
    left: 600px;
    top: 2240px;
}

.Intro_3 {
    font-family: Manthan;
    position: absolute;
    width: 581px;
    height: 113px;
    left: 390px;
    top: 3200px;
}

.Intro_3 h2 {
    font-size: 70px;
    text-align: center;
}

.Text3 h2 {
    font-size: 70px;
    text-align: center;
    position: absolute;
    width: 581px;
    height: 113px;
    left: 600px;
    top: 3220px;
}

.end {
    background-image: url("/images/bg.png");
    position: absolute;
    width: 100%;
    height: 366px;
    left: 0px;
    top: 6134px;
}

.container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-row: (2, 1fr);
    grid-auto-rows: 300px;
    grid-auto-columns: 1000px;
    padding: 50px;
}

.items {
    background-color: gray;
    border: 30px;
    border-radius: 30px;
    padding: 50px;
}

.Intro_4 {
    font-family: Manthan;
    position: absolute;
    width: 1142px;
    height: 113px;
    left: 10px;
    top: 3970px;
}

.Intro_4 h2 {
    font-size: 70px;
    text-align: center;
}

.Text4 h2 {
    font-size: 70px;
    text-align: center;
    position: absolute;
    width: 1142px;
    height: 113px;
    left: 460px;
    top: 3990px;
}

.container_1 {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-row: (5, 1fr);
    grid-auto-rows: 390px;
    grid-auto-columns: 200px;
    padding: 60px;
}

.boxes {
    background-color: gray;
    border: 30px;
    border-radius: 25px;
}*/