* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Indu;
    src: url(../fonts/AMS\ Indu.ttf) format('truetype');
}

.hindi{
    font-family: 'Eczar', sans-serif;
}

.hindi1{
    font-family: 'Gotu', sans-serif;
}

::-webkit-scrollbar{
    background-color: #f3f2f2;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: url(/images/bg.png);
}

.loader_bg{
    background: url(/images/bg.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999999;
}

.loader{
    width: 480px;
    height: 480px;
    position: absolute;
    top: calc(30vh - 75px);
    left: calc(37vw - 75px);
    /*animation: spinloader 2s linear infinite;*/
}

.loader>img{
    height: 480px;
    width: 480px;
    animation: spinloader 2s linear infinite;
}

@keyframes spinloader {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@media(max-width:767px) {
    .loader,
    .loader>img{
        width: 300px;
        height: 300px;
    }
    .loader{
        top: calc(40vh - 75px);
        left: calc(30vw - 75px);
    }
}

body{
    background-color: #f0f0f0;
    color: #303030;
}

#nav{
    background: url(/images/bg.png);
    opacity: 0.95;
    position: fixed;
    height: 80px;
    width: 100%;
    font-family: 'Montserrat';
    z-index: 9999;
}

.logo{
    color: #f5f5f5;
    font-size: 30px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;
}

.logo>img{
    width: 70px;
    height: 70px;
    margin-top: 5px;
}

nav>ul{
    float: right;
    margin-right: 20px;
}

nav>ul>li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
    transition: all 0.5s ease;
}

nav>ul>li>a,
nav>ul>li>a:visited,
nav>ul>li>a:hover,
nav>ul>li>a:active{
    color: #f5f5f5;
    font-size: 20px;
}

nav>ul>li:hover{
    z-index: 99999;
    transform: scale(1.15);
}

.checkbtn{
    font-size: 30px;
    color: #f5f5f5;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.toTop{
    padding: 10px;
    background: #f5f5f5;
    font-size: 20px;
    position: fixed;
    right: 40px;
    bottom: 25px;
    border: 2px solid #303030;
    border-radius: 5px;
    z-index: 999;
}

.toTop>a,
.toTop>a:hover,
.toTop>a:visited,
.toTop>a:active{
    color: #000;
}

@media(max-width: 1325px){
    .logo{
        font-size: 17px;
        padding-left: 20px;
    }

    .logo>img{
        width: 60px;
        height: 60px;
        margin-top: 10px;
    }

    #nav>ul>li>a{
        font-size: 20px;
    }

    .checkbtn{
        display: block;
    }
    #nav>ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: url(/images/bg.png);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    #nav>ul>li{
        display: block;
    }

    #check:checked~ul{
        left: 0;
    }
    .toTop{
        right: 20px;
        bottom: 40px;
    }
}

.landing{
    background: url(/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.center{
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
}

.center>img{
    transform: scale(.6);
    position: relative;
    margin-top: -3%;
}

.center>h1{
    color: #f5f5f5;
    font-size: 80px;
    margin-top: -7%;
}
.center>.typewriter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: max-content;
}
.center>.typewriter>p{
    color: #f5f5f5;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .05em;
    border-right: .17em solid #f5f5f5;
    animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0
    }
    100%{
        width: 100%
    }
}

@keyframes blinking-cursor {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #f5f5f5;
    }
}

.center>a{
    color: #f5f5f5;
    font-size: 40px;
    margin-top: 3%;
    
    animation: pointing 0.75s infinite;
}

@keyframes pointing{
    50%{
        transform: translateY(-10%);
    }
    from, to{
        transform: translateY(0);
    }
}

@media(max-width:768px){
    .center{
        width: 380px;
        max-height: fit-content;
    }
    .center>img{
        position: relative;
        transform: scale(0.45);
        margin: -10% -100%;
    }
    .center>h1{
        font-size: 35px;
        margin-top: -20%;
        line-height: 60px;
    }
    .center>.typewriter>p{
        font-size: 20px;
        line-height: 30px;
    }
    .center>a{
        margin-top: 25%;
        font-size: 30px;
    }
}

#about, 
#idea{
    text-align: center;
    height: 10%;
}

#about>.content,
#idea>.content{
    width: 85%;
    margin: 0 auto;
}

#about>div>div>p,
#idea>div>div>p{
    width: 75%;
    margin: 2% auto;
    font-size: 20px;
    line-height: 35px;
}

#idea>div>div>p>.hindi,
#about>div>div>p>.hindi{
    font-size: 24px;
    line-height: 35px;
    font-weight: 500;
}

h2{
    font-size: 64px;
    margin-top: 1%;
    padding: 20px 0;
    text-align: center;
    font-weight: 400;
}

.content>div{
    column-count: 2;
    width: 100%;
}

.content>div>img{
    width: 350px;
    height: 350px;
    padding: 0;
}

.digis{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.digibox{
    padding: 0 25px;
}

.digibox>figure{
    text-align: center;
    padding: 10px 18px;
}

.digibox>figure>img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 4px 8px 19px -3px rgba(50,50,50,0.37);
    transition: all 0.5s;
}

.digibox>figure>img:hover{
    transform: scale(1.05);
}

.digibox>figure>figcaption{
    text-shadow: 4px 8px 19px rgba(50,50,50,0.37);
    padding: 10px;
    font-size: 24px;
}

.digibox>figure>a>button{
    width: 200px;
    margin: 0 auto;
    border: none;
    display: block;
    position: relative;
    padding: 15px 30px;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #303030;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 4px 8px 19px -3px rgba(50,50,50,0.37);
}

.digibox>figure>a>button>span{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #303030;
}

.digibox>figure>a>button>span::before{
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.5s;
}

.digibox>figure>a>button:hover>span::before{
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #303030;
}

.digibox>figure>a>button:hover{
    color: #f5f5f5;
}

@media(max-width:757px){
    h2{
        margin-top: 5%;
        padding: 5px;
        font-size: 50px;
    }
    .content>div{
        column-count: 1;
    }
    #about>.content,
    #idea>.content{
        width: 100%;
    }
    #about>.content>div>p,
    #idea>.content>div>p{
        text-align: justify;
    }
    .content>div>img{
        width: 200px;
        height: 200px;
        padding-top: 20px;
    }
    .digis{
        display: block;
        padding: 0 7px;
    }
}

#domains,
#board{
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    float: left;
    width: 25%;
    padding: 0 10px;
    margin: 10px 4%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.front, 
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border: 2px solid #303030;
    border-radius: 25px;
}

.front {
    background-color: #f5f5f5;
    color: black;
}

.back {
    padding: 10% 5%;
    height: 350px;
    background: url(/images/bg.png);
    color: #f5f5f5;
    transform: rotateY(180deg);
}

.back>h3{
    padding: 10px;
    text-align: center;
}

.card{
    background: url(/images/bg.png);
    height: 350px;
    float: left;
    width: 25%;
    padding: 25px;
    margin: 15px 4%;
    color: #fff;
    border-radius: 25px;
    text-align: left;
    filter: grayscale(100%);
    transition: all 1s;
    box-shadow: 4px 8px 19px -3px rgba(50,50,50,0.5);
}

.card>h3{
    font-size: 25px;
    margin-top: 77%;
    opacity: 0;
    transition: all 0.5s;
}

.card>p{
    font-size: 20px;
    font-weight: 800;
    opacity: 0;
    transition: all 0.5s;
}

.card>p>a,
.card>p>a:hover,
.card>p>a:visited,
.card>p>a:active{
    color: #fff;
    font-weight: 800;
}

.card:hover>h3{
    margin-top: 75%;
    opacity: 1;
}
.card:hover>p{
    opacity: 1;
}

.card0{
    background: url(/images/maam.png);
    background-color: #C34044;
    background-size: cover;
    background-repeat: no-repeat;
}

.card1{
    background: url(/images/RAJAT\ TIWARI.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
}

.card2{
    background: url(/images/Sumit.jpg);
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
}

.card3{
    background: url(/images/Anukriti\ Singh.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.card4{
    background: url(/images/Keshav\ Gupta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card5{
    background: url(/images/Shivangi\ Sharma.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card6{
    background: url(/images/Adisha.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card7{
    background: url(/images/aabir.jpg);
    background-size: cover;
    background-position: 40% 30%;
    background-repeat: no-repeat;

}

.card8{
    background: url(/images/Hirwa\ Oza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card9{
    background: url(/images/aditya\ kakkar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card10{
    background: url(/images/Shivya\ Shukla.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.card11{
    background: url(/images/SIMRAN.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card12{
    background: url(/images/AnushiSaxena.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card13{
    background: url(/images/Akhilendra.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card14{
    background: url(/images/Gagan\ Chordia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card:hover{
    filter: grayscale(0%);
}


@media(max-width:757px){
    #domains, 
    #board{
        margin: auto;
    }
    .flip-card,
    .card {
        width: 90%;
        display: block;
        margin-bottom: 15px;
    }
    .row2, 
    .single{
        margin: auto;
    }
}

#contact{
    background: url(/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#contact>div{
    column-count: 3;
}

#imageCont{
    display: flex;
    align-items: center;
    justify-content: center;
}

#imageCont>img{
    width: 300px;
    height: 300px;
}

.links{
    color: #f0f0f0;
}

.links>ul{
    display: block;
    list-style: none;
}

.links>ul>li{
    padding: 7px 0;
}

.links>ul>li>a,
.links>ul>li>a:hover,
.links>ul>li>a:active,
.links>ul>li>a:visited{
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 600;
}

.links{
    color: #f5f5f5;
    padding: 20px 100px;
    text-align: left;
}

.contDet{
    padding-top: 20px;
}

.contDet,
.follow{
    color: #f0f0f0;
}

.contDet>h4,
.follow>h4,
.links>h4{
    font-size: 30px;
}

.contDet>a{
    color: #f5f5f5;
    text-decoration: none;
    padding: 25px 10px;
    font-size: 18px;
    font-family: 'Montserrat';
    transition: all 0.5s;
    cursor: pointer;
}

.contDet>i{
    font-size: 24px;
    padding: 20px 0;
}

.contDet>a:hover{
    text-decoration: underline;
}

.follow>a{
    color: #f5f5f5;
    font-size: 30px;
    transition: all 0.5s;
    padding-top: 12px;
    padding-right: 12px;
    margin: 10px auto;
    margin-right: 20px;
    border-radius: 50%;
}

.ig:hover{
    text-shadow: -5px -5px 10px #5b51db, 5px -5px 10px #c13584, 5px 5px 10px #f56040, -5px 5px 10px #fcaf45;
    transition: all 0.5s;
}

.fb:hover{
    transition: all 0.5s;
    text-shadow: 0 0 40px #00f;
}

.yt:hover{
    transition: all 0.5s;
    text-shadow: 0 0 40px #f00;
}

#contact>p{
    color: #f5f5f5;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

@media(max-width:1024px){
    #contact>div{
        column-count: 1;
        width: 100%;
        margin: 0 auto;
    }
    .links{
        text-align: center;
    }
    #extra{
        text-align: center;
    }
    .contDet,
    .follow{
        padding: 10px 25px;
        margin: 0 auto;
    }
    .contDet>h4,
    .follow>h4{
        padding-top: 10px;
    }
    .follow>a{
        padding: 20px;
    }
    #imageCont{
        padding-top: 0;
    }
    #imageCont>img{
        width: 250px;
        height: 250px;
    }
}